@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  height: 100% !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dm-sans {
  font-family: 'DM Sans', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'DM Sans', sans-serif;
}

p{
  font-family: 'Inter', sans-serif;

}